<!DOCTYPE html>
<html>
	<head>
		<title>Channel Debugging System</title>
		{% block stylesheets %}
			<link href="{{ asset('build/css/app.css') }}" rel="stylesheet" />
		{% endblock %}
	</head>
	<body>
		<center>
			<form action="/logout" method="post" id="specific-informations">
			<div id="main">
				<div style='float: left;'>
					Hallo, <font color=red><b>{{ app.user.username }}</b></font>! 
					Bereich:
					<font color=red>
						<b> 
							{% if app.user.groupId == "1" %}
								PSM
							{% elseif app.user.groupId == "0" %}
								IT
							{% elseif app.user.groupId == "2" %}
								General
							{% else %}
								Unspezifiziert
							{% endif %}
						</b>
					</font>
				</div>
				<h2>Channel Debugging System</h2>
				<input type='button' value='Guidebook' onclick="window.open('build/download/Channel Reporting Guidebook.pdf')" class='button button_blue' style="float: right;" />
				<button type='submit' name='logout' value='1' class="button button_red" style="float: right;">Logout</button>
			</div>
			</form>
		</center>
		<div id="section_bar">
			<table border="0">
				<tr>
					<td bgcolor="#add8e6" valign="center" width="100pixels"">
						<center><font color="white"><b>SECTION</b></font></center>
					</td>
					<td>
						<form action="index.php" method="post">
							<input type="submit" name="section_cds" value="Debugging" class='button button_gray'/>
							<input type="submit" name="section_tool" value="Toolbox" class='button button_gray'/>
							<input type="submit" name="section_exp" value="Export Dashboard" class='button button_gray'/>
							<input type="submit" name="section_error_statistics" value="Error Statistics Dashboard" class='button button_gray'/>
							<input type="submit" name="section_live_dashboard" value="Live Dashboard" class='button button_gray'/>
							<input type="submit" name="section_monitor" value="Monitor" class='button button_gray'/>
							<input type="submit" name="section_administration" value="Administration" class='button button_gray'/>
							<input type="submit" name="section_partner_section" value="Partner Section" class='button button_green'/>
							<input type="submit" name="section_epics_list" value="Epics List" class='button button_gray'/>
							<input type="submit" name="section_internal_status" value="Internal Status" class='button button_gray'/>
							<input type="submit" name="section_alert_system" value="Alert System" class='button button_gray'/>
							<input type="submit" name="section_pipeline" value="Pipeline" class='button button_gray'/>
						</form>
					</td>
				<tr>
			</table>
		</div>
	</body>
</html>